.bike-video {
  padding-top: 120px;
  padding-bottom: 112px;
  text-align: center;
  background-color: $black-background;
}

.bike-video__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white-basic;
  letter-spacing: -0.005em;
}

.bike-video__text {
  margin: 0 auto;
  margin-bottom: 56px;
  width: 35%;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white-basic-opacity-70;
  letter-spacing: -0.005em;
}

.bike-video__video-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: -218px;
  width: 80%;
}

.bike-video__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bike-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: $tablet-width-max) {
  .bike-video {
    padding-top: 70px;
    padding-bottom: 67px;
  }

  .bike-video__title {
    font-size: 24px;
  }

  .bike-video__text {
    width: 65%;
    margin-bottom: 40px;
  }

  .bike-video__video-wrap {
    margin-bottom: -160px;
    width: 69%;
  }

  .bike-video__button {
    top: 49%;
  }
}

@media (max-width: $mobile-middle-width) {
  .bike-video {
    padding-top: 84px;
    padding-bottom: 72px;
  }

  .bike-video__text {
    margin-bottom: 50px;
    width: 100%;
  }

  .bike-video__video-wrap {
    margin-bottom: -126px;
    width: 100%;
  }
}
