.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  background-color: $black-basic;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $white-basic;

  &--submit {
    padding: 15px;
    width: 74%;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: $black-basic;
    border-radius: 6px;
    text-transform: none;
    background-color: $green-blue-main;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--video {
    display: block;
    padding: 0;
    width: 65px;
    height: 65px;
    background-color: $green-blue-main;
    background-image: url('../img/play-icon.svg');
    background-repeat: no-repeat;
    background-size: 13px 18px;
    background-position: 28px center;
    border-radius: 50%;
    transition: all $transition-time-slow ease-in;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: $tablet-width-max) {
  .button {
    &--submit {
      width: 44%;
    }

    &--video {
      width: 90px;
      height: 90px;
      background-size: 18px 25px;
      background-position: 39px center;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .button {
    &--submit {
      padding: 15px 28px;
      width: 100%;
    }

    &--video {
      width: 65px;
      height: 65px;
      background-size: 13px 18px;
      background-position: 28px center;
    }
  }
}
