.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    margin: 0;
    margin-bottom: 18px;
    padding-top: 4px;
    width: 74%;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: $white-basic;
  }
}

.form__input-wrapper {
  width: 74%;
  margin-bottom: 20px;
  
  input {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 29px;
    padding-right: 29px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid $grey-border;
    border-radius: 6px;
    outline: none;
  
    &:hover,
    &:focus,
    &:active {
      outline: 2px solid $green-blue-main;
    }
  
    &::placeholder {
      color: $black-placeholder-opacity-50;
    }
  }
}

.form__error {
  color: $error-red;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 1239px) {
  .form {
    align-items: center;
  }
}

@media (max-width: $tablet-width-max) {
  .form {
    width: 100%;
    padding: 0 21px;

    p {
      margin-bottom: 30px;
      width: 45%;
      font-size: 18px;
      color: $black-basic;
    }
  }

  .form__input-wrapper {
    width: 45%;

    input {
      padding: 11px 25px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .form {
    padding: 0 16px;

    p {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .form__input-wrapper {
    width: 100%;
  }
}
