.main-nav {
  padding-top: 21px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $white-basic-opacity-20;
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;
}

.main-nav__link {
  color: $white-basic-opacity-70;

  &:hover,
  &:focus {
    color: $green-blue-main;
  }

  &:active {
    color: $green-blue-hover;
  }
}

@media (max-width: $tablet-width-max) {
  .main-nav__list {
    flex-direction: column;
    justify-content: flex-start;
  }

  .main-nav__item {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    background-color: $grey-menu;
  }

  .main-nav__link {
    display: block;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 35px;
    color: $grey-dark-menu-item;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 25px;
      width: 8px;
      height: 12px;
      background-image: url('../img/menu-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 12px;
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url('../img/menu-arrow-active.svg');
      }
    }
  }
}
