.page {
  height: 100%;
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 34px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  align-content: flex-start;
}
