.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page-header__container {
  padding: 0 280px;
}

.page-header__toggle {
  display: none;
  padding: 25px;
}

@media (max-width: 1239px) {
  .page-header__container {
    padding: 0 150px;
  }
}

@media (max-width: $tablet-width-max) {
  .page-header {
    &--opened {
      padding-top: 100px;
      padding-bottom: 138px;
      background-color: $white-basic;
      z-index: $z-index-header;

      .page-header__container {
        padding: 0;
        max-width: none;
      }

      .page-header__main-nav {
        display: block;
        padding: 0;
      }

      .page-header__toggle {
        background-color: $white-basic;
        background-image: url('../img/modal-cross.svg');
        background-size: 22px;

        &:hover,
        &:focus,
        &:active {
          background-image: url('../img/modal-cross-active.svg');
        }
      }
    }

    &--nojs {
      padding-top: 100px;
      padding-bottom: 138px;
      background-color: $white-basic;
      z-index: $z-index-header;

      .page-header__container {
        padding: 0;
        max-width: none;
      }

      .page-header__main-nav {
        display: block;
        padding: 0;
      }

      .page-header__toggle {
        background-color: $white-basic;
        background-image: url('../img/modal-cross.svg');
        background-size: 22px;

        &:hover,
        &:focus,
        &:active {
          background-image: url('../img/modal-cross-active.svg');
        }
      }
    }
  }

  .page-header__container {
    padding: 0 21px;
  }

  .page-header__main-nav {
    display: none;
  }

  .page-header__toggle {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: $green-blue-main;
    background-image: url("../img/burger-menu.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    z-index: $z-index-burger;
  }
}

@media (max-width: $mobile-width-max) {
  .page-header__container {
    padding: 0 16px;
  }
}
