//viewports

$mobile-middle-width: 680px;
$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1920px;

//font

$main-font: 'Open Sans', 'Verdana', sans-serif;

// black&white

$white-basic: #ffffff;
$white-basic-opacity-20: rgba($white-basic, 0.2);
$white-basic-opacity-70: rgba($white-basic, 0.7);
$white-basic-opacity-80: rgba($white-basic, 0.8);
$black-basic: #000000;
$black-basic-opacity-50: rgba($black-basic, 0.5);
$black-basic-opacity-70: rgba($black-basic, 0.7);
$black-placeholder: #1c1c1c;
$black-placeholder-opacity-50: rgba($black-placeholder, 0.5);
$black-titles: #1f1f1f;
$black-background: #131314;
$black-decor: #141517;
$black-decor-opacity-20: rgba($black-decor, 0.2);

//green

$green-blue-main: #0ad9c6;
$green-blue-hover: rgba($green-blue-main, 0.5);

//grey

$grey-background: #f6f7f9;;
$grey-menu: #f6f6f6;
$grey-dark-menu-item: #48494d;
$grey-border: #c9ccd4;


//offset

$advantage-offset: 38px;
$advantage-offset-tablet: 30px;
$bike-types-offset: 50px;
